 <!-- Vote Section -->
    <section id="vote">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   <hr class="star-light">
                    <h2>Vote</h2>
                    <p>Earn in-game rewards!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="text-align:center; padding-top: 1.5em;">
                    <p><a href="http://minecraftservers.org/server/313860">MinecraftServers.org</a></p>
                    <p><a href="http://minecraft-server-list.com/server/331341/">minecraft-server-list.com</a></p>
                    <p><a href="http://minecraft-mp.com/server-s107412">Minecraft-MP.com</a></p>
                </div>
            </div>
        </div>
    </section>
