 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   <hr class="star-light">
                    <h2>Vote</h2>
                    <p>Earn in-game rewards!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="text-align:center; padding-top: 1.5em;">
                    <p><a href="http://minecraftservers.org/server/313860">MinecraftServers.org</a></p>
                    <p>minecraft-server-list.com</p>
                    <p>Minecraft-MP.com</p>
                </div>
            </div>
        </div>
    </section>
